body {
    background: rgb(178, 209, 255)
    font-family: Verdana;
}

.photo{
    border: 2px solid rgba(137, 43, 226, 0.637);
    border-radius: 50%;
}

#title, .subtitle, .post_title { /* , seleciona mais de um local para adc o css*/
    color: blueviolet; /*altera cor*/
}

#title{
    font-style: italic;
    font-size: 40px ;
    text-transform: uppercase;
    text-decoration: underline;
}

a {
    text-decoration: underline;
    text-transform: capitalize;
    color: blueviolet;

}
.post_title {
    text-decoration: overline;
    font-size: 16px; /*altera tamanho*/
    font-style: italic; /*altera fonte*/
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: rgba(178, 199, 255, 0.932);
    padding: 12px;
    border: 5px dotted #000;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

.post_image {
    margin-bottom: 15px;
}