body {
    background: rgb(178, 209, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.photo{
    border: 2px solid rgba(137, 43, 226, 0.637);
    border-radius: 50%;
    margin: 15px 10px 0px 780px;
}

#title, .subtitle, .post_title { /* , seleciona mais de um local para adc o css*/
    color: blueviolet; /*altera cor*/
}

#title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 40px ;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

a {
    text-decoration: underline;
    text-transform: capitalize;
    color: blueviolet;

}
.post_title {
    text-decoration: overline;
    font-size: 16px; /*altera tamanho*/
    font-style: italic; /*altera fonte*/
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: rgba(178, 199, 255, 0.932);
    padding: 12px;
    border: 5px dotted #000;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
} 
.a_content{
    text-align: right;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.contacts_list {
    list-style-type: none;
    padding-left: 10px;
    }

.contacts_list li a {
    text-decoration: none;
    color: rgba(137, 43, 226, 0.815);
}
